

.parentElement
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;

  height: 87vh;
  border: 1px solid black;
  margin-top: 0.5vh;
  padding: 3vh;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.7); 
  overflow: scroll;
  font-size: 9rem;
}

.flex-item
{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.size
{
  margin: 0;
  padding-top: 65vh;
  font-size: 6rem;
  font-family: 'NeuePowerTrial-Regular';

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
