


.parentElement
{
  display: block;
  grid-template-columns: 1fr;
  grid-template-rows: 4;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 92vh;
  border: 2px solid black;
  margin-top: 0.5vh;
}

